@import "tailwindcss" prefix(tw);

@theme {
  --font-sans: "Inter", system-ui, "Segoe UI", Roboto, sans-serif;
  --color-fondo-claro-secciones: rgb(245, 246, 248);  
  --color-fondo-oscuro-secciones: rgb(16, 41, 64); 
}

body {
  margin: 0;
  color: #1a1a1a;
  background: #ffffff;
}
